{% extends 'templates/app.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-body">
                <h3 class="text-center mb-4">Регистрация</h3>
                {% if errors.global %}
                <div class="alert alert-danger">
                    <a class="close font-weight-light" data-dismiss="alert" href="#">×</a> {{ errors.global }}
                </div>
                {% endif %}
                <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST"
                    action="{{ path_for('auth.signup') }}">
                    <div class="form-group  ">
                        <label for="email">Email</label>
                        <input class="form-control input-lg {{ errors.email ? 'is-invalid' : ''}}" value="{{old.email}}"
                            id="email" placeholder="E-mail" name="email" type="text">
                        {% if errors.email %}
                        <div class="invalid-feedback">
                            {{ errors.email | first }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="name">Имя пользователя</label>
                        <input class="form-control input-lg {{ errors.name ? 'is-invalid' : ''}}"  value="{{old.name}}" id="name"
                            placeholder="Имя" name="name" type="text">
                        {% if errors.name %}
                        <div class="invalid-feedback">
                            {{ errors.name | first }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input class="form-control input-lg {{ errors.password ? 'is-invalid' : ''}}" id="password"
                            placeholder="Пароль" name="password" value="" type="password">
                        {% if errors.password %}
                        <div class="invalid-feedback">
                            {{ errors.password | first }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="confirmation">Подтверждение пароля</label>
                        <input class="form-control input-lg {{ errors.confirmation ? 'is-invalid' : ''}}"
                            placeholder="Подтверждение пароля" id="confirmation" name="confirmation" value=""
                            type="password">
                        {% if errors.confirmation%}
                        <div class="invalid-feedback">
                            {{ errors.confirmation}}
                        </div>
                        {% endif %}
                    </div>
                    <input class="btn btn-lg btn-primary btn-block" value="Зарегистрироваться" type="submit">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}